{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": false,
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "trailingComma": "all",
    "bracketSameLine": true,
    "endOfLine": "lf",
    "printWidth": 100
}
